.root {
  position: absolute;
  left: 20px;
  top: 20px;
  width: 360.0134px;
  height: 576px;
  flex-direction: column;
  align-items: flex-start;
}
.group63 {
  position: absolute;
  left: 0;
  top: 0;
  width: 360.0134px;
  height: 576px;
  overflow: visible;
}
.icon {
  width: 100%;
  height: 100%;
}
.p {
  color: #000;
  font-size: 28px;
  font-family: Retro Gaming, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 2.2221%;
  right: 91.667%;
  top: 87.5%;
  bottom: 6.25%;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.r {
  color: #000;
  font-size: 28px;
  font-family: Retro Gaming, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 11.944%;
  right: 81.9451%;
  top: 87.5%;
  bottom: 6.25%;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.o {
  color: #000;
  font-size: 28px;
  font-family: Retro Gaming, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 21.9436%;
  right: 71.9455%;
  top: 62.6736%;
  bottom: 31.0764%;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.b {
  color: #000;
  font-size: 28px;
  font-family: Retro Gaming, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 31.9433%;
  right: 61.9459%;
  top: 87.5%;
  bottom: 6.25%;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.l {
  color: #000;
  font-size: 28px;
  font-family: Retro Gaming, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 41.9429%;
  right: 52.5018%;
  top: 87.5%;
  bottom: 6.25%;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.e {
  color: #000;
  font-size: 28px;
  font-family: Retro Gaming, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 52.2203%;
  right: 41.6688%;
  top: 87.5%;
  bottom: 6.25%;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.m {
  color: #000;
  font-size: 28px;
  font-family: Retro Gaming, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 61.9421%;
  right: 31.947%;
  top: 87.5%;
  bottom: 6.25%;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.s {
  color: #000;
  font-size: 28px;
  font-family: Retro Gaming, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 71.664%;
  right: 22.2251%;
  top: 87.5%;
  bottom: 6.25%;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.unnamed {
  color: #000;
  font-size: 28px;
  font-family: Retro Gaming, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 83.608%;
  right: 13.8921%;
  top: 87.5%;
  bottom: 6.25%;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
