.root {
  position: absolute;
  left: 20px;
  top: 20px;
  width: 384.9965px;
  height: 495.1077px;
  flex-direction: column;
  align-items: flex-start;
}
.rectangle1070 {
  transform-origin: top left;
  position: absolute;
  left: 7.7213%;
  right: 0.0701%;
  top: 2.9209%;
  bottom: 2.3522%;
  background-color: #161616, #fff;
  transform: matrix(0.9994, 0.0335, -0.0335, 0.9994, 0, 0);
}
.rectangle1071 {
  transform-origin: top left;
  position: absolute;
  left: 4.2089%;
  right: 3.5824%;
  top: 0;
  bottom: 5.2731%;
  outline: solid 3px #161616;
  outline-offset: -3px;
  background-color: #fff, #fff;
  transform: matrix(0.9994, 0.0335, -0.0335, 0.9994, 0, 0);
}
.rectangle1072 {
  transform-origin: top left;
  position: absolute;
  left: 9.9356%;
  right: 9.8039%;
  top: 5.808%;
  bottom: 24.5102%;
  background-image:/* webpackIgnore: true */ url('/assets/rectangle10725.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transform: matrix(0.9994, 0.0335, -0.0335, 0.9994, 0, 0);
}
.fabulous {
  transform-origin: top left;
  color: #000;
  font-size: 40px;
  line-height: 128.7705%;
  font-family: Retro Gaming, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 16.3514%;
  right: 22.3494%;
  top: 79.9404%;
  bottom: 4.9114%;
  flex-direction: column;
  transform: matrix(0.9994, 0.0335, -0.0335, 0.9994, 0, 0);
}
